<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">./Logs</Property>
	</Properties>
	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="File"
			fileName="${basePath}/LogFile.log"
			filePattern="${basePath}/prints-%d{yyyy-MM-dd}.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="5MB" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="Retail.BBHomePageTest" level="trace"
			additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		<Logger name="NBATeams.FullSchedule" level="trace"
			additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		<Logger name="NBATeams.NBALandingPage" level="trace"
			additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		<Logger name="NBATeams.NBALeaguePass" level="trace"
			additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		<Logger name="StepDefinitions.stepDefinitions" level="trace"
			additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>